{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<h1>Chat {{ title }}</h1>
<div id="chat-log" data-chat-type="{{ chat_type }}" data-chat-id="{{ chat_id }}">
    <!-- Messages will be dynamically inserted -->
</div>
<div id="chat-input-container">
    <input type="text" id="chat-message-input" autocomplete="off" placeholder="Type your message...">
    <button id="chat-message-submit">Send</button>
</div>

<script src="{% static 'js/loadOldMessages.js' %}" defer></script>
<script src="{% static 'js/sendingMessages.js' %}" defer></script>
{% endblock %}