{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Chat" %} - {{ title }}{% endblock %}

{% block content %}
<div id="chat-page">
    <h1>{% trans "Chat:" %} {{ title }}</h1>
    <div id="chat-log" data-chat-type="{{ chat_type }}" data-chat-id="{{ chat_id }}">
        <!-- Messages will be dynamically inserted -->
    </div>
    <div id="chat-input-container">
        <input type="text" id="chat-message-input" autocomplete="off" placeholder="{% trans 'Type your message...' %}">
        <button id="chat-message-submit">{% trans "Send" %}</button>
    </div>
</div>

<script src="{% static 'js/loadOldMessages.js' %}" defer></script>
<script src="{% static 'js/sendingMessages.js' %}" defer></script>
{% endblock %}