{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div id="login-container">
    <h2 class="login-title">{% trans "Login" %}</h2>
    <form method="post" id="login-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-submit">{% trans "Login" %}</button>
        </div>
    </form>
    <p class="register-link">
        {% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Register here" %}</a>
    </p>
</div>
{% endblock %}